<html>

<head>
  <title>Rouleau compresseur</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
  <div class="container ">
    <div class="text-center">
      <h1 >Rouleau compresseur</h1>
      to change the redirection of the api to Bubble
      <ul style="list-style: none;">
        <li>1/choose the mode you want, dev or prod</li>
        <li>2/ go back to the home page</li>
        <li>3/ click on the button to exec the changes</li>
      </ul>
        <h2>Mode redirection Bubble :
          <% if (active_redir==devUrl) { %>
              dev
          <% } else if (active_redir==prodUrl) { %>
              prod
          <% } %>
        </h2>

        <form action="/change_bubble_endpoint" method="post">
          <label for="urlEndpoint">Enter mode: </label>
          <input list="urlEndpoint2" id="url" name="urlEndpoint" required/>
          <datalist id="urlEndpoint2">
            <select>
              <option label="dev">
                <%=devUrl %>
              </option>
              <option label="prod">
                <%=prodUrl %>
              </option>
            </select>
          </datalist>
          <input type="submit" value="Chang dev or prod">
        </form>
        <p>wait for 5s, then click untill you see the mode you've just set up</p>
        <a class="btn btn-primary mb-3" href="/change">click to finish change the back</a>
      </div>


  <!-- <div>
    <h3>mini form pour ajouter données en db</h3>
    <form action="/bubble_endpoint/" method="post">
      <label for="mode">Enter mode: </label>
      <input id="mode" type="text" name="mode" value="Mode dev ou prod">
      <label for="urlEndpoint">Enter url: </label>
      <input id="urlEndpoint" type="text" name="urlEndpoint" value="urlEndpoint">
      <input type="submit" value="Send in db">
    </form>
  </div> -->
    <div>
      <pre class="prettyprint">
        <code class="language-javascript">
          {
          "type": "app_home_opened",
          "user": "XXXXXXXXX",
          "channel": "XXXXXXXXX",
          "event_ts": "1515449522000016",
          "tab": "home",
          "view": {
            "id": "XXXXXXXXX",
            "team_id": "XXXXXXXXX",
            "type": "home",
            "private_metadata": "",
            "callback_id": "",
            "hash":"1231232323.12321312",
            "clear_on_close": false,
            "notify_on_close": false,
            "root_view_id": "VPASKP233",
            "app_id": "XXXXXXXXX",
            "external_id": "",
            "app_installed_team_id": "XXXXXXXXX",
            "bot_id": "XXXXXXXXX"
            }
          }
        </code>
      </pre>
    </div>
    <div class="my-2">
      <pre class="prettyprint">
        <code class="language-javascript">
          {
          "type": "block_actions",
          "user": {
            "id": "XXXXXXXXX",
            "username": "XXXXXXXXX",
            "name": "XXXXXXXXX",
            "team_id": "XXXXXXXXX"
            },
            "api_app_id": "XXXXXXXXX",
            "token": "XXXXXXXXX",
            "container": {
            "type": "message",
            "message_ts": "1617090941.000100",
            "channel_id": "XXXXXXXXX",
            "is_ephemeral": false
            },
            "trigger_id": "1905541386486.1183167227058.55f04e103ba91861be376bdce93ee264",
            "team": {
            "id": "XXXXXXXXX",
            "domain": "XXXXXXXXX"
            },
            "enterprise": null,
            "is_enterprise_install": false,
            "channel": {
            "id": "XXXXXXXXX",
            "name": "XXXXXXXXX"
            },
            "message": {
            "bot_id": "XXXXXXXXX",
            "type": "message",
            "text": ":sunny: Nouveau moment publi\u00e9",
            "user": "XXXXXXXXX",
            "ts": "1617090941.000100",
            "team": "XXXXXXXXX",
            "blocks": [
              {
            "type": "section",
            "block_id": "klZeY",
            "text": {
            "type": "plain_text",
            "text": " ",
            "emoji": true
            }
            },
          {
          "type": "section",
          "block_id": "urX+",
          "text": {
            "type": "mrkdwn",
            "text": ":sunny: Nouveau moment\n*Anniversaire La Gaaaan's :man::skin-tone-5:*\n\n:clock3: Date &amp; Heure\n*Mardi 30
            Mars 2021 - 12:00*",
            "verbatim": false
            },
            "accessory": {
            "type": "image",
            "image_url": "https:\/\/i.ibb.co\/zGvzBNn\/Picto-Calendrier-slack-ok.png",
            "alt_text": "cute cat"
            }
          },
          {
          "type": "actions",
          "block_id": "WWmem",
          "elements": [
            {
            "type": "button",
            "action_id": "actionId-0",
            "text": {
            "type": "plain_text",
            "text": "Voir le moment",
            "emoji": true
            },
            "style": "primary",
            "value": "click_me_123",
            "url": "XXXXXXXXX"
            }
          ]
          }
          ]
          },
          "state": {
          "values": {}
          },
          "response_url": "https:\/\/hooks.slack.com\/actions\XXXXXXXXX",
          "actions": [
            {
            "action_id": "actionId-0",
            "block_id": "WWmem",
            "text": {
            "type": "plain_text",
            "text": "Voir le moment",
            "emoji": true
            },
            "value": "click_me_123",
            "style": "primary",
            "type": "button",
            "action_ts": "1617115376.216957"
            }
          ]
          }
        </code>
      </pre>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</html>
